<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.reweyou.reweyouforums">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="com.android.alarm.permission.SET_ALARM" /> -->


    <!-- Get permission for reliable local dispatching on non-Google Play devices. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"

        android:label="ReweyouForums"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- Firebase Notifications -->
        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />


        <!-- Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.gms.analytics.CampaignTrackingService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".FullImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Preview" />
        <activity
            android:name=".ForumMainActivity"
            android:label="@string/title_activity_forum_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CommentActivity"
            android:label="@string/title_activity_comment"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".GroupActivity"
            android:label="@string/title_activity_group"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="ReweyouForums"

            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreatePostActivity"
            android:label="@string/title_activity_create"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme2.NoActionBar.Create"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditGroupActivity"
            android:label="@string/title_activity_edit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".GroupMembers"
            android:label="@string/title_activity_group_members"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2.NoActionBar" />
        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_noti"
            android:screenOrientation="portrait"

            android:theme="@style/AppTheme2.NoActionBar" />
        <activity
            android:name=".YoutubeActivity"
            android:label="@string/title_activity_youtube"
            android:screenOrientation="portrait"

            android:theme="@style/AppTheme.NoActionBar.Preview">

        </activity>
    </application>

</manifest>